body {
  background-color: white;  /* Set the background color to white */
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Set height to full viewport */
  background-color: white;
}

.login-box {
  width: 100%;
  max-width: 400px;  /* Limit the width of the login box */
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.login-box label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
